div, input[type="submit"]  {
  padding: 5px;
}
input[type="submit"] {
  margin-top: 10px;
}
input{
  height: 25px;
}
.pull-left {
  float: left;
}
.clearfix {
  clear: both;
}
.error-description {
  color: red;
  font-style: italic;
  font-size: 85%;
}
ul li{
  list-style-type: none;
  padding: 5px;
}